.mainContainer{
    display: flex;
    flex-direction: column;
}

.flowerContainer {
    margin: auto;
    border: solid black 1px;
}

.retailerContainer {
    display:flex;
    margin: 5px;
    border: solid black 1px;
}

.retailer {
    border: solid black 1px;
    margin: 5px;
}